@import "../../../../../common_styles/config";

.person-data-form {
  &__fullname,
  &__about-me,
  &__looking-for-job,
  &__position-description,
  &__github,
  &__instagram,
  &__linkin,
  &__facebook,
  &__twitter,
  &__youtube,
  &__website {
    width: 100%;
    @include flexGeneric(column, center, stretch);
    padding-right: 0.5rem;
    margin-bottom: 0.7rem;
    border-right: solid 4px rgba($purple, 0.7);
    border-radius: 5px;
  }

  &__github,
  &__instagram,
  &__linkin,
  &__facebook,
  &__twitter,
  &__youtube,
  &__website {
    & > svg {
      align-self: flex-end;
    }
  }

  &__title {
    display: inline-block;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    color: $gray-dark;
  }

  &__value {
    & input,
    & textarea {
      text-align: right;
      background-color: transparent;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 0;
      border-bottom: solid 2px rgba($purple, 0.4);
      background-color: transparent;
      color: rgba($purple, 1);
      font-size: 0.9rem;
      font-weight: weight(bold);

      font-family: "Quicksand", Verdana, sans-serif;
      resize: none;
      &::placeholder {
        color: rgba($purple, 0.9);
      }
    }
  }

  &__looking-for-job {
    .person-data-form__value {
      align-self: flex-end;
      width: 1rem;
    }
  }
}
