@import "../../../common_styles/config";

.user {
  @include flexGeneric(row, space-between, center);

  border-top: solid 1px rgba($gray, 0.5);
  padding: 1.5rem 0;
  &:hover {
    .user__image {
      transform: scale(1.2);
    }
  }
  &__link {
    overflow: hidden;
    display: block;
    height: 12vw;
    width: fit-content;
    border-radius: 0.7rem;
    box-shadow: 0 16px 30px -20px rgba(black, 0.8),
      0 -16px 30px -20px rgba(black, 0.8), 10px 0 30px -20px rgba(black, 0.8),
      -10px 0 30px -20px rgba(black, 0.8);
  }

  &__image {
    object-fit: contain;
    height: 12vw;

    border-radius: 0.7rem;
    @include transition-ease;
  }
  &__information {
    align-self: stretch;
    flex: 1;
    margin: 0 1rem 0 3rem;
    padding: 0.2rem 0;
    border-right: solid 1px rgba($gray, 0.5);
  }
  &__first-name {
    color: rgba($purple, 0.8);
    font-weight: weight(bold);
    font-size: 2rem;
  }
  &__last-name {
    display: inline-block;
    color: rgba($primary, 0.8);
    font-size: 2.2rem;
    background-color: rgba($purple, 0.8);
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    font-weight: weight(medium);
  }

  &__status {
    background-color: rgba($purple, 0.2);
    font-size: 1.2rem;
    padding: 0.1rem 0.3rem;
    font-weight: weight(bold);
    border-radius: 5px;
    display: inline-block;
    margin-top: 0.5rem;
    color: rgba($gray-dark, 0.8);
  }

  &__btn > .btn > button {
    width: 9vw;
    min-width: 125px;
    &:disabled {
      background-image: none;
      background-color: rgba($purple, 0.5);
      color: rgba($primary, 0.2);
    }
  }
}
