@import "../../styles/variables.scss";

.header {
  // border-radius: 0.4rem;
  grid-area: 1/2 / span 1/ -1;
  background-color: rgba($primary, 0.6);
  position: sticky;
  top: 0px;
}

.header__logo {
  width: 3rem;
  margin: 0.4rem;
  margin-left: 0.7rem;
}

.header__auth-block {
  float: right;
  color: $secondary;
  margin-top: 0.5rem;
  margin-right: 1.8rem;
}
