.nav {
  padding: 0.8rem;
  border-radius: 0.4rem;
  grid-area: n;
  background-color: rgb(116, 219, 116);
}

.nav div {
  padding: 0.2rem;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: rgb(19, 17, 5);
}
