.nav {
  grid-area: n;
  background-color: rgb(116, 219, 116);
  padding: 0.7rem;
}

.nav div {
  padding: 0.2rem;
}

.item {
  color: white;
  text-decoration: none;
}

.item.active {
  color: rgb(19, 17, 5);
}
