@import "../../common_styles/config";
.nav-bar {
  grid-area: 1/1/-1 / span 1;
  display: flex;
  flex-direction: column;
  background-color: $primary;
}

.nav-bar__logo {
  max-height: 100%;
  max-width: 100%;
  padding: 16px;
  object-fit: contain;
  background-color: $dark;
}

.nav-bar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100% - 80px);
  padding: 2rem 0.4rem 0;
  font-size: 0.5rem;
}

.nav-bar__item {
  margin-bottom: 2rem;
  transition: transform 2s linear;
  position: relative;
  &:hover {
    .nav-bar__tooltip {
      visibility: visible;
      opacity: 1;
    }
  }
}

.nav-bar__item a {
  color: $secondary;
  transform: scale(1);
  @include transition-ease;

  &:hover {
    color: $purple;
  }
}

.nav-bar__active-link {
  @include flexCenter(row);
  background-color: rgba($purple, 0.5);
  border-radius: 0.2rem;
  padding: 0.2rem;
  box-shadow: 5px 10px 6px -6px rgba($purple, 0.5),
    -5px 10px 6px -6px rgba($purple, 0.5), 0 10px 6px -6px rgba($purple, 0.5),
    0 10px 6px -6px rgba($purple, 0.5);
  .nav-bar__tooltip {
    left: 125%;
  }
}

.nav-bar__tooltip {
  visibility: hidden;
  font-size: 0.9rem;
  width: 80px;
  display: inline-block;
  background-color: #555;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: 120%;
  opacity: 0;
  transition: opacity 0.4s;
  &::after {
    content: "";
    position: absolute;
    top: 31%;
    left: -7%;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
  }
}

/* Inner layout */

/* 11 */

/* SubNavFriends */

// .subNavbarFriends {
//   font-size: 0.8rem;
//   margin: 0.4rem;
//   padding: 0.2rem;
//   border-radius: 0.4rem;
//   background-color: rgb(116, 195, 116);
// }

// .navFriends {
//   display: flex;
//   flex-wrap: wrap;
// }

// .subNavbarFriends .title {
//   text-align: center;
//   font-weight: bolder;
// }
