.nav {
  padding: 0.4rem;
  border-radius: 0.4rem;
  grid-area: n;
  background-color: rgb(116, 219, 116);
  font-size: 1rem;
}

.nav .item {
  padding: 0.2rem;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  display: inline-block;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(106, 106, 255);
  background-color: rgb(106, 106, 255);
  border-radius: 0.2rem;
  padding: 0.4rem;
  width: 5rem;
  height: 1rem;
}

/* Inner GRID */

.nav {
  display: grid;
  grid-template-rows: 5fr 3fr 5fr;
}

/* 11 */

/* SubNavFriends */

.subNavbarFriends {
  font-size: 0.8rem;
  margin: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  background-color: rgb(116, 195, 116);
}

.navFriends {
  display: flex;
  flex-wrap: wrap;
}

.subNavbarFriends .title {
  text-align: center;
  font-weight: bolder;
}
