@import "../../../common_styles/config";

.profile-photo-status {
  @include flexGeneric(row, flex-start, flex-end);
  margin-bottom: 0.8%;

  &__img-wrapper {
    position: relative;
    margin-left: 3%;
  }

  &__img {
    width: 13vw;
    height: 13vw;
    object-fit: cover;
    border: 3px solid $primary;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba($purple, 0.2);

    @include transition-ease;
    &:hover {
      box-shadow: 0 2.8px 2.2px rgba($purple, 0.034),
        0 6.7px 5.3px rgba($purple, 0.048), 0 12.5px 10px rgba($purple, 0.06),
        0 22.3px 17.9px rgba($purple, 0.072),
        0 41.8px 33.4px rgba($purple, 0.086), 0 20px 40px rgba($purple, 0.12);
    }
    &:hover + .profile-photo-status__visibilety-edit-btn {
      background-color: rgba($purple, 0.7);
      color: $light;
      // height: 2.1vw;
      // top: 92%;
      // left: 91%;
      // & > svg {
      //   font-size: 1.8vw;
      // }
    }
  }

  &__visibilety-edit-btn {
    position: absolute;
    height: 2.1vw;
    top: 86%;
    left: 86%;
    color: transparent;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;

    @include flexCenter(row);
    @include transition-ease;

    & > svg {
      font-size: 1.5vw;
      @include transition-ease;
    }

    &:hover {
      background-color: rgba($purple, 0.7);
      color: $light;
    }
  }

  &__fullname {
    font-family: $main-font;
    font-size: 1.8vw;
    margin-left: 3%;
  }

  &__last-name {
    color: $purple;
    font-weight: weight(bold);
  }
}

.edit-photo {
  visibility: hidden;
  margin-left: 4%;
  margin-bottom: 0.5%;
  @include transition-ease;
  .edit-photo__custom-btn {
    width: fit-content;
    display: inline-block;
    padding: 4px 8px;
    font-size: smaller;
    font-weight: weight(bold);
    border-radius: 10px;
    color: transparent;

    @include transition-ease;
  }
}

.edit-photo_show {
  visibility: initial;
  .edit-photo__custom-btn {
    color: rgba($purple, 0.8);
    background-image: linear-gradient(
      to bottom right,
      rgba($gray, 0.3),
      rgba($primary, 1)
    );
  }
}

.edit-photo__label {
  position: relative;
  & > input {
    visibility: hidden;
    position: absolute;
    z-index: -50;
  }
}
