@import "./styles/variables.scss";
.app-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.app-wrapper__content {
  grid-area: 2/2 / -1/ -1;
  // background-color: rgba(15, 161, 161, 0.1);
  background-image: linear-gradient(
    to bottom,
    rgba(79, 177, 128, 0.3),
    rgba($purple, 0.2)
  );
}
