.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
}

.app-wrapper-content {
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  border-radius: 0.4rem;
  grid-area: c;
  background-color: rgb(15, 161, 161);
}
